.hero{
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.home{
    width: 40vw;
    /* border: 2px solid red; */
    text-align: center;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-top: 20px;
}
.hero-image{
    width: 30vw;
}
.hero-image img{
    width: 100%;
    filter: drop-shadow(0 0 10px #0fff);
}
@media (max-width: 1090px){
    .hero{flex-direction: column;}
    .home{width: 70vw;}
    h1{font-size: 40px;}
}